# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

/lib/generated/prisma

# arquivos físicos gerados pela aplicação
/storage/

# arquivos de teste locais
documento-baixado-teste.pdf
recibo-upload-teste.pdf
utf8-test.json

# Arquivos físicos gerados pela aplicação
/frontend/storage/

# Arquivos de teste locais
/frontend/documento-baixado-teste.pdf
/frontend/recibo-upload-teste.pdf
/frontend/utf8-test.json
/utf8-test.json
